<template>
  <v-app>
    <v-app-bar fixed app light color="primary">
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
      <v-toolbar-title v-text="title" style="cursor: pointer" @click="drawer = true" />
      <v-spacer/>
      <v-btn icon @click="toggle_dark_mode">
        <v-icon>mdi-lightbulb</v-icon><v-icon>mdi-lightbulb-outline</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app temporary>
      <v-list nav dense>
        <v-list-item-group v-model="group" active-class="deep-purple--text text--accent-4">
          <v-list-item to="/">
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item>

          <v-list-item to="/podcast">
            <v-list-item-icon>
              <v-icon>mdi-podcast</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Podcast</v-list-item-title>
          </v-list-item>
          
           <v-list-item to="/feed">
            <v-list-item-icon>
              <v-icon>mdi-rss</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Feed</v-list-item-title>
           </v-list-item>
           
          <v-list-item @click="logOut">
            <v-list-item-icon>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      title: "YT2P",
      drawer:false,
      group: null
    };
  },
  mounted() {
    const theme = localStorage.getItem("dark_theme");
    if (theme) {
        if (theme === "true") {
            this.$vuetify.theme.dark = true;
        } else {
            this.$vuetify.theme.dark = false;
        }
    } else if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
    ) {
        this.$vuetify.theme.dark = true;
        localStorage.setItem(
            "dark_theme",
            this.$vuetify.theme.dark.toString()
        );
    }
  },
  methods: {
    logOut() {
      this.$auth.logout();
    },
    toggle_dark_mode() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      localStorage.setItem("dark_theme", this.$vuetify.theme.dark.toString());
    }
  }
};
</script>
