<template>
  <div>
    <v-card>
      <v-card-title class="headline">Feed</v-card-title>
      <v-card-text>
          <v-dialog
              v-model="msgDialogVisible"
              max-width="500px"
            >
            <v-card>
              <v-card-title>
                <span class="text-h5" >Info</span>
              </v-card-title>
              <v-card-text>
                {{msgDialogText}}
              </v-card-text>
            </v-card>
          </v-dialog>
        <v-container>
          <v-row>
            <v-col cols="10">
              <v-text-field
                v-model="feedUrl"
                label="Feed URL"
                :readonly="true"
              ></v-text-field>
            </v-col>
            <v-col cols="2">
              <div v-if="clipboardReady">
                <v-btn
                  color="blue darken-1"
                  text
                  @click="copyUrl"
                  ><v-icon>mdi-content-copy</v-icon>
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-menu bottom offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn class="primary" v-bind="attrs" v-on="on">
            Actions
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, i) in [
                   {title: 'Update Feed'},
                   {title: 'Clean S3'},
                   ]"
            :key="i"
            @click="doActions(item.title)"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
        </v-menu>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
 export default {
   data() {
     return {
       accessToken: this.$auth.strategy.token.get() ,
       msgDialogVisible:false,
       msgDialogText: '',
       feedUrl : "http://yt2p-dev-podcast.josephw.work/podcast.xml",
       clipboardReady: false,
     }
   },
   created() {
     this.clipboardReady = navigator.clipboard;
   },
   
   methods: {
     copyUrl(){
       navigator
         .clipboard.writeText(this.feedUrl)
         .then(() => {
           console.log("copied")
         })
     },
     createFeed() {
       var headers= {Authorization: `${this.accessToken}`};
       this.$axios.$post(`/feed` , headers)
           .then(
             () => {
               this.msgDialogText = 'Request submitted. Feed will be updated later.';
               this.msgDialogVisible = true;
             }
           )
           .catch(
             (error) => {
               this.msgDialogText = `${error}`;
               this.msgDialogVisible = true;
             }
           )
       ;
     },
     cleanS3() {
       var headers= {Authorization: `${this.accessToken}`};
       this.$axios.$post(`/cleanS3` , headers)
           .then (
             () => {
               this.msgDialogText = 'Request submitted. S3 bucket is clean.';
               this.msgDialogVisible = true;
             }
           )
           .catch (
             (error) => {
               this.msgDialogText = `${error}`;
               this.msgDialogVisible = true;
             }
           )
       ;
     },
     doActions(cmd){
       if (cmd === 'Update Feed') {
         this.createFeed();
       }else if (cmd === 'Clean S3') {
         this.cleanS3();
       }
     }
   }
 }
</script>
