<template  >
  <p v-if="$fetchState.pending">Fetching podcasts...</p>
  <p v-else-if="$fetchState.error">An error occurred :(</p>
  <div v-else>
    <v-card>
      <v-card-title class="headline">
        Podcast
      </v-card-title>
      <v-card-text>
        <v-dialog
          v-model="msgDialogVisible"
          max-width="500px"
        >
          <v-card>
            <v-card-title>
              <span class="text-h5" >Info</span>
            </v-card-title>
            <v-card-text>
              {{msgDialogText}}
            </v-card-text>
          </v-card>
        </v-dialog>
        <v-data-table
          :key="podcastsComponentKey"
          :headers="dataHeaders"
          :items="podcasts"
          :items-per-page="20"
          :footer-props="{'items-per-page-options': [10, 20, 30, 40, 50 , -1]}"
          show-select
          :single-select="false"
          v-model="selectedItems"
          sort-by="id"
          item-key="id"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-dialog
              v-model="dialogVisible"
              max-width="500px"
              >
              <v-card>
                <v-card-title>
                  <span v-if="dialogMode==='Edit'" class="text-h5">Edit Item</span>
                  <span v-else-if="dialogMode==='Create'" class="text-h5">Create Item</span>
                </v-card-title>
                
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col>
                        <v-text-field
                          v-model="editedItem.id"
                          label="ID"
                          :readonly="['Edit'].includes(dialogMode)"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-text-field
                          v-model="editedItem.desc"
                          label="Desc"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-select
                          :items="['DONE', 'NEW']"
                          v-model="editedItem.status"
                          label="Status"
                        ></v-select>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-text-field
                          v-model="editedItem.url"
                          label="URL"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-text-field
                          v-model="editedItem.createDate"
                          label="Create Date"
                          :disabled="['Create'].includes(dialogMode)"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="dialogClose"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    v-if="dialogMode==='Edit'"
                    color="blue darken-1"
                    text
                    @click="performEdit"
                  >
                    Save
                  </v-btn>
                  <v-btn
                    v-if="dialogMode==='Create'"
                    color="blue darken-1"
                    text
                    @click="performCreate"
                  >
                    New
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </template>
          <template v-slot:item.action="{ item }">
            <v-icon
              class="mr-2"
              @click="showEditDialog(item)"
            >
              mdi-pencil
            </v-icon>
          </template>
          <template v-slot:no-data>
            No podcasts
          </template>
        </v-data-table>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-menu bottom offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn class="primary" v-bind="attrs" v-on="on">
            Actions
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, i) in [
                   {title: 'Refresh'},
                   {title: 'New'},
                   {title: 'Delete'},
                   ]"
            :key="i"
            @click="doActions(item.title)"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
        </v-menu>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>

 export default {
   data() {
     return {
       dataHeaders: [
         { text: 'Status',value: 'status' , width: '90'},
         { text: 'ID', value: 'id' },
         { text: 'Desc', value: 'desc' },
         { text: '', value: 'action', sortable: false}
       ],
       dialogVisible: false,
       dialogMode: 'Edit', // values='Edit' / 'Create' 
       msgDialogVisible:false,
       msgDialogText: '',
       editedItem: {
         id: '',
         status: '',
         desc: '',
         url: '',
         createDate: '',
       },
       defaultItem: {
         id: '',
         status: 'DONE',
         desc: '',
         url: '',
         createDate: 'Auto generated',
       },
       podcasts: [] , 
       accessToken: this.$auth.strategy.token.get() ,
       podcastsComponentKey: 0,
       selectedItems : [],
     }
   },
   async fetch() {
     var headers= {Authorization: `${this.accessToken}`};
     this.podcasts = await this.$axios.$get('/podcasts' , headers);
   },
   methods: {
     showEditDialog( item ) {
       this.editedItem = Object.assign({}, item);
       this.dialogVisible = true;
       this.dialogMode = 'Edit';
     },
     showCreateDialog() {
       this.editedItem = Object.assign({}, this.defaultItem);
       this.dialogVisible = true;
       this.dialogMode = 'Create';       
     },
     dialogClose () {
       this.dialogVisible = false;
       this.$nextTick(() => {
         this.editedItem = Object.assign({}, this.defaultItem);
       })
     },
     performCreate() {
       var headers= {Authorization: `${this.accessToken}`};
       var newValue = this.editedItem;
       this
         .$axios.$put(`/podcasts` , newValue, headers)
         .then(() => {
           this.podcasts.push(newValue);
           
           this.msgDialogText = `Created successfully`;
           this.msgDialogVisible = true;
           this.podcastsComponentKey ++; // refresh podcasts list
         })
         .catch ((error) => {
           this.msgDialogText = `${error}`;
           this.msgDialogVisible = true;
         })
       ;
       this.dialogClose();
     },
     performEdit() {
       var headers= {Authorization: `${this.accessToken}`};
       var newValue = this.editedItem;
       this
         .$axios.$post(`/podcasts/${this.editedItem.id}` , newValue, headers)
         .then(
           () => {
             var tempResult= [];
             this.podcasts.map(
               podcast => {
                 if (!(podcast.id === newValue.id)) {
                   tempResult.push(podcast);
                 }else{
                   tempResult.push(newValue);
                 }
               }
             );
             this.podcasts = tempResult;
             
             this.msgDialogText = `Updated successfully`;
             this.msgDialogVisible = true;
             this.podcastsComponentKey ++; // refresh podcasts list
           }
         )
         .catch ((error) => {
           this.msgDialogText = `${error}`;
           this.msgDialogVisible = true;
         });
       this.dialogClose();
     },
     performDeleteMultiple(idList) {
       var params = {
         "header" : {Authorization: `${this.accessToken}`},
         "data"   : {id : idList}
       };
       this
         .$axios.$delete(`/podcasts` , params)
         .then(
           () => {
             console.log('delete completed');
             this.$fetch();
           }
         ).catch ((error) => {
           this.msgDialogText = `${error}`;
           this.msgDialogVisible = true;
         });
     },
     getSelectedId() {
        var _selectedId = [];
         this.selectedItems.map(
           (_item)=> {
             _selectedId.push(_item.id);
           }
         );
       return _selectedId;
     },
     doActions(cmd){
       if (cmd === 'Refresh') {
         this.$fetch();
       }else if (cmd === 'New') {
         this.showCreateDialog();
       }else if (cmd === 'Delete') {
         var idList = this.getSelectedId();
         if (idList.length === 0 ) {
           console.log('No id selected');
         } else {
           console.log('delete multiple');
           this.performDeleteMultiple( idList );
         }
       }
     }
   }
 }
</script>
